.Rectangle{
    position: absolute;
    width: 58.25rem;
    height: 28.75rem;
    left: 30.875rem;
    top: 26.75rem;
    background: #EEF8FD;
    border-radius: 4.375rem;
    }
    /* Profil*/
    .Profil{
    position: absolute;
    position: absolute;
        height: 120px;
        left: 900px;
        width: 120px;
        top: 360px;
        z-index: 1;
    
    }
    
    /*
    position: absolute;
        height: 120rem;
        width: 120rem;
        left: 900rem;
        tpo: 360px;
        z-index: 1;
    */
    /* Group 7 */
    .logo{
    position: absolute;
    width: 219px;
    height: 85px;
    left: 848px;
    top: 192px;
    }
    
    /* login */
    
    .login{
        /*     /* width: 95rem;
    height: 55rem;*/
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
    }

        .button{
            position: absolute;
            width: 191px;
            height: 60px;
            left: 864px;
            top: 761px;
            position: absolute;
            
            background: #00C694;
            border-radius: 42px;
            position: absolute;
            left: 19.37%;
            right: 18.85%;
            top: 28.33%;
            bottom: 26.67%;
            font-family: Ploni ML v2 AAA;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 31px;
            text-align: center;
            color: #EEF8FD;
            }
    /* !םיאבה םיכורב */
    .welcome{
        position: absolute;
        left: 880px;
        top: 305px;
        width: 150px;
        height: 25px;
    }
    
    

.firstName{
position: absolute;
width: 612px;
height: 67px;
left: 497px;
top: 403px;
}

.lastName{
    position: absolute;
    width: 612px;
    height: 67px;
    left: 497px;
    top: 486px;
}

.id{
    position: absolute;
    width: 612px;
    height: 67px;
    left: 497px;
    top: 569px;
    
    
}

.email{
   position: absolute;
width: 612px;
height: 60px;
left: 497px;
top: 652px;
}
.password{
    position: absolute;
width: 612px;
height: 60px;
left: 497px;
top: 735px;

}