.popap {
    height: 450px;
}
.back_img {
    position: absolute;
    width: 600px;
    height: 450px;
    left: 50px;
    background: #e6e7e8;
    right: 80px;
    top: 20px;
}
.line1 {
    position: absolute;
    width: 420px;
    height: 33px;
    top: 15px;
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    left: 80px;
    color: #1c2c53;
    right: 200px;
}
.line2 {
    position: absolute;
    width: 420px;
    height: 33px;
    top: 65px;
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    left: 80px;
    color: #1c2c53;
    right: 200px;
}
.line3 {
    position: absolute;
    width: 420px;
    height: 33px;
    top: 115px;
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    left: 80px;
    right: 200px;
    color: #1c2c53;
}
.line4 {
    position: absolute;
    width: 420px;
    height: 33px;
    top: 165px;
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    left: 80px;
    color: #1c2c53;
    right: 200px;
}
.line5 {
    position: absolute;
    width: 420px;
    height: 33px;
    top: 215px;
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    left: 80px;
    color: #1c2c53;
    right: 200px;
}
.line6 {
    position: absolute;
    width: 420px;
    height: 33px;
    top: 265px;
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    left: 80px;
    color: #1c2c53;
    right: 200px;
}
.line7 {
    position: absolute;
    width: 420px;
    height: 33px;
    top: 315px;
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    left: 80px;
    color: #1c2c53;
    right: 200px;
}

.text {
    position: absolute;
    width: 175px;
    height: 30px;
    left: 120px;
    background: #f2f2f2;
    border-radius: 5px;
}
.btn {
    position: absolute;
    left: 210px;
    bottom: 100px;
    right: 250px;
    top: 380px;
    bottom: 30px;
    background: #43bda2;
    border: 0.653653px solid #43bda2;
    box-sizing: border-box;
    box-shadow: 0px 5.92806px 11.1151px rgb(0 0 0 / 10%);
    border-radius: 58.8287px;
}

.MuiDialog-paperFullWidth {
    /* width: calc(100% - 64px); */
    min-width: 700px;
    min-height: 500px;
}
