.btn1{   
position: absolute;
left: 35%;
right: 35.14%;
top: 44.14%;
bottom: 46.58%;

background: #FBAB41;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
border-radius: 50px;
width: 150px;
border: none;
}

.btn2{   
    position: absolute;
    left: 50%;
    right: 25.14%;
    top: 44.14%;
    bottom: 46.58%;
}
   

    .new-btn {
        background: #FBAB41;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        width: 195px;
        border: none;
        height: 61px;
        font-size: 23px;
        font-weight: 600;
        color: #1c2c53;
    }

    .btn3{   
        position: absolute;
        left: 82%;
        right: 35.14%;
        top: 60.14%;
        bottom: 46.58%;
        
        background:#43BDA2;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        width: 150px;
        border: none;
        }